body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.backgroundContainer {
  background-image: url("./images/restaurant.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.logoWrapper {
  width: 200px;
  margin: 0 auto;
  padding: 20px 0;
}

.logo {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  display: block;
}

.icon {
  color: #fff;
  font-size: 24px;
}

.links {
  display: flex;
  justify-content: center;
  list-style: none;
}

li svg {
  cursor: pointer;
}

.links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

.searchBarContainer {
  margin-top: 100px;
}

.searchBarWrapper {
  display: flex;
  justify-content: center;
}

.searchBarForm {
  display: flex;
  padding: 3rem;
  gap: 1rem;
  max-width: 800px;
}

/* CSS for the Restaurant Component */
.restaurant-container {
  width: 90%;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.restaurant-name {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.opening-time,
.address,
.coordinates-container,
.tags-container,
.comments-container {
  margin-bottom: 10px;
}

.address-container strong,
.coordinates-container strong,
.tags-container strong,
.comments-container strong {
  font-weight: bold;
}

/* .tags-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tag {
  margin-bottom: 5px;
} */

.restaurant-image {
  display: block;
  width: 100%;
  height: 500px;
  object-fit: cover;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* CSS for the Tags */
.tags-container {
  margin-bottom: 10px;
}

.tags-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.tag {
  background-color: #f0f0f0;
  color: #333;
  padding: 4px 8px;
  border-radius: 16px;
  margin-right: 8px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
}

/* Style for the last tag in the row */
.tag:last-child {
  margin-right: 0;
}

/* Example: Custom colors for different tag categories */
.tag.vegetarian {
  background-color: #7dc957;
  color: #fff;
}

.tag.healthy {
  background-color: #56b3e2;
  color: #fff;
}

.tag.asian {
  background-color: #f9ccac;
  color: #333;
}

.tag.noodles {
  background-color: #f7c78e;
  color: #333;
}

.tag.indian {
  background-color: #e8aeb7;
  color: #fff;
}

.tag.spicy {
  background-color: #ed7059;
  color: #fff;
}

.tag.steakhouse {
  background-color: #f0b25c;
  color: #333;
}

.tag.american {
  background-color: #3e81a8;
  color: #fff;
}

.tag.italian {
  background-color: #d0c5bc;
  color: #333;
}

.tag.pasta {
  background-color: #fdb63f;
  color: #fff;
}

.tag.bbq {
  background-color: #bb3636;
  color: #fff;
}

.restaurantList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  gap: 15px;
}

@media screen and (max-width: 768px) {
  .links {
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }
  .icon {
    font-size: 20px;
  }
  .searchBarForm {
    flex-direction: column;
    align-items: center;
  }
  .searchBarContainer {
    margin-top: 0px;
  }
  .links {
    margin-bottom: 20px;
  }
}
